.formPopup {
  width: 664rem;
  background-color: var(--color-dark-2);
  position: relative;
  margin-top: 87rem;
  border-radius: 20px;
  overflow: hidden;
  padding: 74rem 86rem 64rem;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 9rem;
  right: 9rem;
  background: 100% url(../../../images/icons/close.svg) no-repeat;
  width: 32rem;
  height: 32rem;
  border: none;
  outline: none;
  background-color: transparent;
  transition: var(--link-opacity-transition);
}

.closeButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.imageContainer {
  width: 493rem;
  height: 200rem;
  margin-bottom: 23rem;
}

.title {
  margin-bottom: 8rem;
  font-family: var(--font-basic);
  font-size: var(--font-size-middle);
  color: var(--color-white);
  line-height: 1.4;
  font-weight: 700;
}

.subtitle {
  margin-bottom: 20rem;
  font-family: var(--font-basic);
  font-size: var(--font-size-body-big);
  color: var(--color-gray-2);
  line-height: 1.6;
}

.form {
  
}

.inputsContainer {
  margin-bottom: 20rem;
  display: grid;
  grid-auto-flow: column;
  gap: 24rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.buttonContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 24rem;
  grid-template-columns: 174rem 280rem;
  align-items: center;
}

.agreement {
  font-family: var(--font-basic);
  font-size: var(--font-size-body-small);
  color: var(--color-gray-1);
}
