.header {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.content {
  width: 1200rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 140rem;
  justify-items: center;
  padding-top: 25rem;
  padding-bottom: 25rem;
  align-items: center;
}