.fixedContacts {
  position: fixed;
  background-color: transparent;
  top: 258rem;
  left: 40rem;
  z-index: 2;
}

.listContainer {
  width: max-content;
  height: 232rem;
  margin-bottom: 120rem;
}

.upArrow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  border: 50%;
  transition: var(--link-opacity-transition);
}

.upButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.upText {
  top: 65rem;
  left: -2.5rem;
  position: absolute;
  color: var(--color-white);
  font-size: var(--font-size-body-small);
  font-family: var(--font-basic);
  font-weight: 300;
  transform: rotate(-90deg);
  line-height: 0.8;
}

@media screen and (max-width: 480px) {
  .fixedContacts {
    display: none;
  }
}